[submodule "third_party/google/google_test"]
	path = third_party/google/google_test
	url = https://github.com/google/googletest
[submodule "third_party/mal-packet-weaver"]
	path = third_party/mal-packet-weaver
	url = https://github.com/malatindez/mal-packet-weaver
